
td,th{
  border:1px solid;
  padding:.5rem;
}

table{
  border-collapse: collapse;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  gap:20px;

}

.course{
  width: 25%;
  border: 1px solid;
  padding:1rem
}

.success{
  background-color: green;
  color:white
}

.pending{
  background-color: red;
  color:white
}